    body {
        background-color: #ffffff;
        font-family: 'Tahoma';
    }

    .container-asks  {
        background-color: #020202;
        color: white;
        padding: 3rem 1rem;
        text-align: center;
    }